<section class="tasksDetails">
            <ul>
                <li>
                    ID: <%= id %>
                </li>
                <li>
                    NAME: <%= name %>
                </li>
                <li>
                    <%= assignedTo %>
                </li>
                <li>
                    <%= listId %>
                </li>
                <li>
                    <%= status %>
                </li>
                <li>
                    <%= notes %>
                </li>
                <li>
                    <%= dateDue %>
                </li>
                <li>
                    <%= dateCompleted %>
                </li>
                <li>
                    <a href="#tasksUpdate/<%= id %>">update</a>
                </li>
            </ul>
        </section>